.navBar {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: darkslategrey;

  a {
    color: white;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  button.navBarLogoutButton {
    appearance: auto;
    background: transparent;
    border: 0;
    color: white;
    font-size: 18px;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    height: auto;
    width: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  width: 1px;
  background-color: white;
  height: 24px;
  align-self: center;
}